/* Main design templates */
body{
    max-width: 100%;
    background-color: var(--au-black);
    font-size: 18pt;
	padding-top: 4.5em;
	color: var(--au-gray);
}

a{
    color: var(--au-accent-4);
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}

a:hover{
    color: var(--au-orange);
    text-decoration: none;
}

/* IDs */
#option1{
	background-color: rgb(52,37,21);
	color: var(--au-white);
	transition: all .5s;
}

#option1:hover{
	background-color: var(--au-neutral-5);
	color: var(--au-black);
	transition: all .5s;
}

#option2{
	background-color: var(--au-orange);
	color: var(--au-white);
	transition: all .5s;
}

#option2:hover{
	background-color: var(--au-accent-4);
	color: var(--au-black);
	transition: all .5s;
}

#option3{
	background-color: var(--au-accent-3);
	color: var(--au-white);
	transition: all .5s;
}

#option3:hover{
	background-color: var(--au-accent-5);
	color: var(--au-black);
	transition: all .5s;
}

#option4{
	background-color: var(--au-neutral-3);
	color: var(--au-white);
	transition: all .5s;
}

#option4:hover{
	background-color: var(--au-neutral-4);
	color: var(--au-black);
	transition: all .5s;
}

#option5{
	background-color: var(--au-black);
	color: var(--au-white);
	transition: all .5s;
}

#option5:hover{
	background-color: rgb(45,45,45);
	transition: all .5s;
}

#enter{
	background-color: var(--au-black);
	color: var(--au-orange);
	transition: all .5s;
}

#enter:hover{
	background-color: var(--au-neutral-6);
	transition: all .5s;
}

#back{
	background-color: var(--au-black);
	color: var(--au-orange);
	transition: all .5s;
}

#back:hover{
	background-color: var(--au-neutral-6);
	transition: all .5s;
}